/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after {
    content: '';
    content: none;
}

q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font: 15px/1.5 Mongolian Baiti;
    padding: 0;
    margin: 0;
    background: url( '/img/common/background.png' ) no-repeat;
    background-size: 100%;
}

.main-content {
    margin: 0 auto;
    max-width: 900px;
    padding: 10px 20px;
}

.login {
    margin: 8% auto 0;
    max-width: 500px;
    background: rgb(0,0,0,.4);
    border-radius: 6px;
    box-shadow: 0px 0px 8px white;
    padding: 100px 50px 50px;
    box-sizing: border-box;
}

.login-wrapper {
    box-shadow: 0px 0px 8px white;
    padding: 85px 20px 20px;
    box-sizing: border-box;
    background: #2b2b2b;
    border-radius: 6px;
    position: relative;
}

.login-placeholder-icon {
    font-size: 100px;
    color: #929090;
    box-shadow: 0px 0px 18px #4e4e4e;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    left: 38%;
    top: -55px;
    background: #393a39;
}

.login-field {
    padding: 15px 10px 0;
    font-size: 0;
    position: relative;
}

.login-input {
    padding: 12px 10px 12px 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px #fffafa;
    background: #1b1b1b;
    border: none;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    color: #FFF;
}
 
.login-input--password {
    font-size: 24px;
    padding: 7px 10px 7px 40px;    
}

.login-forgot-password,
.login-label {
    display: inline-block;
    width: 60%;
    font-size: 14px;
    color: #FFF;
    vertical-align: middle;
}

.login-icon {
    font-size: large;
    color: #b5b3b3;
    position: absolute;
    left: 20px;
    bottom: 12px;
    width: 25px;
    text-align: center
}

.login-label {
    width: 40%;
    text-align: right;
}

.button-submit {
    padding: 11px 0;
    text-align: center;
    background: #c7c7c7;
    border: 1px solid #CCC;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
}

.button-submit:active {
    background: #3d3d3d;
    color: #FFF;
}

.login-field--button {
    padding: 20px 10px 40px;
}