/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after {
    content: '';
    content: none;
}

q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font: 15px/1.5 Mongolian Baiti;
    padding: 0;
    margin: 0;
    background: url( '../img/common/background.png' ) no-repeat;
    background-size: cover;
}

.login {
    margin: 5% auto 0;
    max-width: 500px;
    background: rgb(0,0,0,.4);
    border-radius: 6px;
    padding: 100px 50px 50px;
    box-sizing: border-box;
}

.login-wrapper {
    box-shadow: 0px 0px 8px white;
    padding: 85px 20px 20px;
    box-sizing: border-box;
    background: #404040;
    border-radius: 6px;
    position: relative;
}

.login-logo {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    position: absolute;
    top: -50px;
    width: 100px;
    left: 150px;
}

.login-field {
    padding: 15px 10px 0;
    font-size: 0;
    position: relative;
}

.login-input {
    padding: 12px 10px 12px 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 2px #fffafa;
    background: #1b1b1b;
    border: none;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    color: #FFF;
}
 
.login-input--password {
    font-size: 24px;
    padding: 7px 10px 7px 40px;    
}

.login-forgot-password,
.login-label {
    display: inline-block;
    width: 60%;
    font-size: 14px;
    color: #FFF;
    vertical-align: middle;
}

.login-icon {
    font-size: large;
    color: #b5b3b3;
    position: absolute;
    left: 20px;
    bottom: 12px;
    width: 25px;
    text-align: center
}

.login-label {
    width: 40%;
    text-align: right;
}

.button-submit {
    padding: 11px 0;
    text-align: center;
    background: #c7c7c7;
    border: 1px solid #CCC;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.button-submit:active {
    background: #3d3d3d;
    color: #FFF;
}

.login-field--button {
    padding: 20px 10px 40px;
}

.flash-error {
    color: #FFF;
    padding: 6px 15px;
    background: #ff4848;
    border-radius: 3px;
    font-size: 14px;
}

.flash-success {
    color: #FFF;
    padding: 6px 15px;
    background: #4dbb7a;
    border-radius: 3px;
    font-size: 14px;
}

/* container */
.container {
    border-radius: 6px;
    font-size: 0;
    padding-bottom: 15px;
}

/* header */

.header-wrapper {
    padding: 10px 15px;
    background: #565555;
    font-size: 0;
}

.logo-wrapper {
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}

.logo-image {
    width: 65px; 
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

.logo-name {
    display: inline-block;
    font-size: 30px;
    color: #ccc9de;
    vertical-align: middle;
    color: #ffe721;
}

.header-login-info {
    display: inline-block;
    width: 70%;
    vertical-align: middle;
    font-size: 18px;
    text-align: right;
    color: #FFF;
}

.header-datetime {
    padding-bottom: 8px;
    font-size: 16px;
}

.header-project-title {
    position: relative;
    font-size: 24px;
    color: #ffe721;
}

/* navigation menu */
.navigation {
    font-size: 0;
    position: relative;
} 

.navigation-list {
    width: 82%;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    top: 0;
    right: 0;
    background: #464646;
    border-top: 1px solid ;
}

.navigation-item {
    display: inline-block;
    width: 15%;
    font-size: 16px;
    vertical-align: middle;
}

.navigation-link {
    display: block;
    padding: 10px 8px;
    text-align: center;
    color: #ffe721;
    text-decoration: none;
}

.navigation-link:hover {
    background: #ffe721;
    color: #464646;
    border-right: 1px solid #565555;
}

.navigation-link.active {
    background: #ffe721;
    color: #464646;
    border-right: 1px solid #565555;
}

.navigation-search-wrapper {
    display: inline-block;
    width: 40%;
    vertical-align: middle;
}
.navigation-search {
    padding: 5px 10px;
}

.search_selectbox-wrapper {
    display: inline-block;
    width: 25%;
}

.search_input-wrapper {
    display: inline-block;
    width: 60%;
}

.search-button-wrapper {
    display: inline-block;
    width: 15%;
}

.search_box {
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
}

.search_input {
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
}

.search-button {
    width: 100%;
    background: #ffe721;
    padding: 6px;
    border: 2px solid #ffe721;
    cursor: pointer;
}

.title {
    font-size: 28px;
    display: block;
    text-align: center;
    padding: 20px;
    font-weight: 600;
    color: #ffd200;
}

.sidebar {
    display: inline-block;
    width: 18%;
    vertical-align: top;
    font-size: 16px;
    background: white;
    box-sizing: border-box;
    min-height: 550px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    border-top: 1px solid #000000;
}

.sidebar-user-image {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.sidebar-user-image span {
    display: block;    
}

.sidebar-user {
    padding: 20px 0 0;
}

.sidebar-user-logout {
    padding: 10px 0 25px;
    text-align: center;
}

.sidebar-user-logout .button {
    padding: 3px;
    width: 100px;
    background: #ff5757;
    border: 1px solid red;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}

.sidebar-title {
    font-size: 18px;
    padding: 9px 6px;
    background: #464646;
    color: #fff;
    position: relative;
}

.sidebar-add {
    position: absolute;
    top: 0;
    right: 0;
    position: absolute;
    top: 25%;
    right: 15px;
    cursor: pointer;
}

.sidebar-add:hover {
    color: #ffe721;
}

.content {
    display: inline-block;
    width: 80%;
    vertical-align: top;
    font-size: 16px;
    background: white;
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: 0px 0px 5px white;
    left: 19%;
    position: absolute;
    top: 143px;
    min-height: 495px;
    margin-bottom: 30px;
}

.content-title {
    font-size: 18px;
    padding: 6px 20px;
    background: #565555;
    color: #fff;
}

.form-container {
    max-width: 450px;
    margin: 0 auto;
    padding: 20px 0;
}

.form-container-adduser {
    padding: 37px 0;
    max-width: 450px;
}

.form-container-confirm {
    text-align: center;
}

.form-field {
    padding: 10px 10px 5px;
}

.form-note {
    color: #f00;
    font-size: 12px;
    margin-left: 10px;
}

.form-label {
    display: inline-block;
    width: 60%;
    vertical-align: top;
    padding-bottom: 3px;
}

.form-input-wrapper {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.form-input {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #CCC;
    box-shadow: 0 0 5px #CCC;
    padding: 6px;
    box-sizing: border-box;
}

.form-input-info {
    font-weight: bold;
}

.form-textarea {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #CCC;
    box-shadow: 0 0 5px #CCC;
    padding: 6px;
    height: 95px;
    resize: none;
    box-sizing: border-box;
}

.form-button {
    display: inline-block;
    text-decoration: none;
    padding: 8px;
    background: #ffe721;
    color: #464646;
    border: 1px solid #CCC;
    box-shadow: 0 0 5px #CCC;
    width: 40%;
    cursor: pointer;
}

.form-button:hover {
    background: #fff;
    border: 1px solid #ffe721;
    box-shadow: 0 0 5px #ffe721;
}

.form-button-wrapper {
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.error-message {
    display: block;
    color: #ff4848;
}

.content-confirm {
    width: 98%;
    margin-left: 1%;
}

.success-message {
    text-align: center;
}

.success-message-text {
    display: block;
    font-size: 20px;
}

.success-message-text:nth-child(2) {
    font-size: 28px;
    color: #000;
    font-weight: 600;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0,0,0,0.8);
    font-size: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 9;
}

.modal-container {
    margin: 5% auto;
    width: 900px;
    box-shadow: 0px 0px 15px #FFF;
    border: 1px solid #000;
    background: #ececec;
    border-radius: 6px;
    padding: 20px;
    box-sizing: border-box;
}

.modal-image-wrapper {
    width: 40%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 20px;
    box-sizing: border-box;
}

.modal-image {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.modal-image-content {
    display: inline-block;
    width: 60%;
    padding: 20px;
    box-sizing: border-box;
    vertical-align: middle;
    border-left: 1px solid #272727;
}

.modal-content-list {
    padding: 10px 8px;
    border-bottom: 1px dashed #272727;
    width: 100%;
    box-sizing: border-box;
}

.modal-content-label {
    width: 30%;
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
}

.modal-content-info {
    width: 70%;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
}

.modal-button-wrapper {
    padding: 20px 20px 0;
    box-sizing: border-box;
    text-align: center;
}

.button-close {
    margin-right: 15px;
    background: #ff4848;
    color: #FFF;
    border-radius: 5px;
    border: 1px solid #ff4848;
    padding: 10px 20px;
    cursor: pointer;
}

.button-print {
    background: #122aff;
    color: #FFF;
    border-radius: 5px;
    border: 1px solid #122aff;
    padding: 10px 20px;
    cursor: pointer;
}

.activity-table {
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.file-list {
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}
.button-view-wrapper,
.button-delete-wrapper {
    display: inline-block;
    width: 25%;
    vertical-align: middle;
}
.button-delete {
    background: #ff4848;
    color: #FFF;
    border: 1px solid #ff4848;
    padding: 6px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 13px;
    width: 50px;
}
.button-view {
    background: #4d4dff;
    color: #FFF;
    border: 1px solid #4d4dff;
    padding: 6px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 13px;
    width: 50px;
}

/* SIDEBAR */
.sidebar-treeview {
    padding: 12px 10px 10px;
    overflow: auto;
    height: 285px;
}

.sidebar-treeview-wrapper {
    width: 100%;
    white-space: nowrap;
}

.sidebar-folder-icon {
    color: #c5c5ff;
    text-shadow: 1px 1px 4px #000;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.sidebar-item {
    cursor: pointer;
    padding-bottom: 3px;
    position: relative;
    display: block;
    padding-left: 15px;
}

.sidebar-sublist {
    padding-left: 20px;
}

.sidebar-item-sub {
    padding-bottom: 3px;
    padding-left: 20px;
    position: relative;
    cursor: pointer;
}
.sidebar-input {
    display: block;
    margin-left: 20px;
    padding: 5px;
    width: 150px;
}
.sidebar-text {
    display: inline-block;
}
div[contenteditable=true] {
    border: 1px solid #ccc;
    padding-left: 5px;
    width: initial;
}
.tooltip {
    position: absolute;
    background: #fff;
    box-shadow: 0px 0px 5px #000;
    z-index: 999;
}

.tooltip-text span {
    font-size: 14px;
    display: block;
    border-bottom: 1px dotted #ccc;
    cursor: pointer;
    padding: 5px;
}

.tooltip-text span:hover {
    background: #ffe721;
}

.tooltip-text span:last-child {
    border-bottom: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0px 10px;
    border-radius: 4px;
    font-size: 16px;
    margin: 10px 0px;
}
.dashboard {
    padding: 75px 50px;
}
.dashboard-item {
    display: inline-block;
    width: 31.3%;
    margin-right: 2%;
    box-shadow: 0 0 3px #ccc;
    overflow: hidden;
    border-radius: 3px;
    border: 1px solid #ccc;
}
.dashboard-item:last-child {
    margin-right: 0;
}

.dashboard-title {
    padding: 10px;
    background: #dbddff;
    font-size: 16px;
    font-weight: 800;
}
.dashboard-count {
    padding: 20px;
    font-size: 38px;
    text-align: center;
    background: #fff9cb;
    color: #565555;
}

.dashboard-count span {
    padding: 0 15px;
}

.file-location {
    display: none;
}
.form-image-uploaded {
    display: inline-block;
    width: 35%;
    margin-right: 1%; 
    vertical-align: middle;
}

.js-image-uploaded {
    width: 128px;
    height: 144px;
    object-fit: contain;
}
.form-upload-input {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}